/* CSS Page marvelous */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');

:root {
  /* color palette */
  --primary-color: #143f42;
  --secondary-color: #5cab9d;
  --accent1-color: #6d817e;
  --accent2-color: #cb5035;

  /* fonts */
  --font: "Playfair Display";
  
  
  --text-color-on-white: #143f42; 
  --text-color-on-color: #e9fff9;  
   --paragraph-background-color: #143f42;
  --nav-link-color: #143f42;
  --nav-background-color: #f3e4c9;
  --nav-hover-link-color: #cfe1cc;
  --nav-hover-background-color: #143f42;
}

/* Main Selectors */
body {
    background-color: #fcfbfb;
    font-family: var(--font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 150px auto;
}

main section {
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color-on-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: var(--text-color-on-color);
    text-decoration: none;
}

footer a:hover {
    color: #cfe1cc;
}

footer p a:hover {
    text-decoration: underline;
}

/* Headings */
h4 {
    color: var(--accent1-color);
}

/* Nav Bar */
nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* IDs '#' */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: var(--accent1-color);
}

#background {
    height: 725px;
    background-color: var(--secondary-color);
    grid-column: 1/11;
    grid-row: 4/9;
    margin-bottom: 50px;
}

#hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Classes '.' */
.button-box {
    text-align: center;
}

.book, .join {
    color: var(--nav-background-color);
    background-color: var(--accent2-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: var(--nav-background-color);
    color: var(--accent2-color);
}
.msg {
    background-color: var(--secondary-color);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #424242;
}

.msg h2 {
    color: var(--text-color-on-white);
    font-family: var(--font);
}

.msg p {
    color: var(--text-color-on-white);
    font-size: .8em;
    padding-bottom: 15px;
}

.home-title {
    color: var(--text-color-on-white);
    font-family: var(--font);
    font-size: 2em;
    margin-top: 10px;
}

.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}