@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #335C67;
  --second-color:  #FFF3B0;
  --accent1-color: #E09F3E;
  --accent2-color: #9E2A2B;
  --accent3-color: #540B0E; 

  /* change the values below to your chosen font(s) */
  --heading-font: "Bebas Neue";
  --paragraph-font: Merriweather, serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #540B0E;  /* headlines on a white background */ 
  --headline-color-on-color: #fff3b0; /* headlines on a colored background */ 
  --paragraph-color-on-white: #540B0E; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #fff3b0; /* paragraph text on a colored background */ 
  --paragraph-background-color: #;
  --nav-link-color: #fff3b0;
  --nav-background-color: #540b0e;
  --nav-hover-link-color: #540B0E;
  --nav-hover-background-color: #fff3b0;
}

body{
  background-color: rgb(234, 233, 232);
}

#content{
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

h1{
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
  width: 200px;
  grid-row: inherit;
  grid-column: 2/3;
  border: 5px solid #540B0E;
  border-radius: 10px;
}

p{
  color:#540B0E;
  grid-column: 3/4;
}